@charset="utf-8";
/* responsive common rule */

.pc {
    display: block;
}

.sp {
    display: none;
}

@madia screen and(max-width:640px) {
    .pc {
        display: none;
    }
    
    .sp {
        display: block;
    }
}
